<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- parameter 받기 -> target 부분에 first 와 second 파라미터를 받도록 선언-->
    <div th:fragment="target(first, second)">
        <style>
            .c1{
                background-color: red;
            }
            .c2{
                background-color: blue;
            }
        </style>

        <div class="c1">
            <th:block th:replace = "${first}"></th:block>
        </div>

        <div class="c2">
            <th:block th:replace = "${second}"></th:block>
        </div>
    </div>
</body>
</html>